* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Firefox */
html {
  scrollbar-width: none;
  /* overflow: auto;  */
}

body {
  /* background-color: #f3eeed; */
  /* overflow: auto; */
  height: 100%;
  /* background-color: #fdfdfd; */
}

/* Ensure full height for sticky footer */
html,
body {
  height: 100%;
  width: 100%;
  /* display: flex; 
  flex-direction: column;  */
  font-family: var(--font-inria-serif), serif;
  background-color: #fdfaf7;
}

main {
  flex-grow: 1; /* This makes the main content grow to fill the available space */
  display: flex;
  flex-direction: column;
  border-top: 1px solid #fdfaf7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--font-playfair), serif;  */
  /* font-weight: 500; */
  color: var(--heading-color);
}

footer {
  margin-top: auto; /* Push footer to the bottom */
}

/* ===== Typography Utilities ===== */

:root {
  /* --font-nunito: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif; */
  --dark-navy-color: #384959;
  --heading-color: #29202d;
  --white-text-color: #f5f5f5;
  --dark-text-color: black;
  --orange-color: #ff6700;

  --darkmaroon: #602537;
  --newwhite: #fdfaf7;
}

.section-listing {
  margin-left: 1rem;
}

.heading-and-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  gap: 0.5rem;
  width: 50%;
  margin-top: 4rem;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  gap: 0.5rem;
  width: 50%;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #edddd1;
}

.cta-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--darkmaroon);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 25%;
  font-size: 1rem;
  font-weight: 200;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.site-main {
  background-color: #0a0a0a;
}

.main-page-bckground {
  /* flex: 1 0 auto; */
  /* min-width: 100vw; */
  min-height: 100dvh;
  /* background: url("/images/main-background.webp") center / cover no-repeat; */
  padding-left: 4rem;
  padding-top: 4rem;
  padding-right: 2rem;
  background-color: #fdfaf7;
  /* border-top: 1px solid #FDFAF7; */
}

/* Utility font classes */
.font-playfair {
  font-family: var(--font-playfair), serif;
}
.font-inria {
  font-family: var(--font-inria-serif), serif;
}

.font-inter {
  font-family: var(--font-inter), serif;
}

.font-kaisei {
  font-family: var(--font-kaisei-decol), serif;
}

.general-linkage {
  text-decoration: none;
  display: inline-block;
  /* padding: 8px 12px;  */
  /* color: inherit; */
}

.general-linkage:visited,
.general-linkage:hover,
.general-linkage:active,
.general-linkage:focus {
  /* color: inherit; */
  text-decoration: none;
}

.general-linkage-color {
  text-decoration: none;
  color: inherit;
}

.general-linkage-color:visited,
.general-linkage-color:hover,
.general-linkage-color:active,
.general-linkage-color:focus {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Base hidden state */
.reveal {
  opacity: 0;
  transform: translateY(10px);
  will-change: opacity, transform;
}

/* Become visible */
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1024px) {
  .fade-top {
    transform: translateY(-20px);
  }
  .fade-left {
    transform: translateX(-20px);
  }
  .fade-right {
    transform: translateX(20px);
  }
  .fade-bottom {
    transform: translateY(20px);
  }

  .reveal.is-visible.fade-top {
    animation: fadeInTop 400ms ease-out forwards;
  }
  .reveal.is-visible.fade-bottom {
    animation: fadeInBottom 400ms ease-out forwards;
  }
  .reveal.is-visible.fade-left {
    animation: fadeInLeft 350ms ease-out forwards;
  }
  .reveal.is-visible.fade-right {
    animation: fadeInRight 350ms ease-out forwards;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 320px) {
  .main-page-bckground {
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-right: 0.5rem;
    background-color: #fdfaf7;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .main-page-bckground {
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-right: 0.5rem;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .main-page-bckground {
    /* background: url("/images/main-background-375.webp") center / cover no-repeat; */
    padding-left: 0.5rem;
    padding-top: 5rem;
    padding-right: 0.5rem;
    background-color: #fdfaf7;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    gap: 0.5rem;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #edddd1;
  }

  .cta-button {
    width: 52%;
  }

  .heading-and-list-container {
    width: 100%;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .main-page-bckground {
    padding-left: 0.7rem;
    padding-top: 5rem;
    padding-right: 0.7rem;
    background-color: #fdfaf7;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    gap: 0.5rem;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #edddd1;
  }

  .cta-button {
    width: 52%;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  .main-page-bckground {
    /* background: url("/images/main-background.webp") center / cover no-repeat; */
    max-width: 100vw;
    padding-left: 0.8rem;
    padding-top: 5rem;
    padding-right: 0.8rem;
  }
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
  .main-page-bckground {
    max-width: 100vw;
    padding-left: 0.8rem;
    padding-top: 5rem;
    padding-right: 0.8rem;
  }
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  .main-page-bckground {
    /* background: url("/images/main-background-600.webp") center / cover no-repeat; */
    max-width: 100vw;
    padding-left: 0.8rem;
    padding-top: 5rem;
    padding-right: 0.8rem;
  }
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  .main-page-bckground {
    min-height: 100dvh;
    padding-left: 0.8rem;
    padding-top: 5rem;
    padding-right: 0.8rem;
  }
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .main-page-bckground {
    min-height: 100dvh;
    background: url("/images/home-background.png") center / cover no-repeat;
    padding-left: 3rem;
    padding-top: 8rem;
    padding-right: 2rem;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 50%;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #edddd1;
  }

  .cta-button {
    width: 32%;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  .main-page-bckground {
    min-height: 100dvh;
    /* background: url("/images/main-background-1280.webp") center / cover
      no-repeat; */
    padding-left: 3rem;
    padding-top: 8rem;
    padding-right: 4rem;
  }
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .main-page-bckground {
    min-height: 100dvh;
    background: url("/images/home-background.png") center / cover no-repeat;
    padding-left: 3rem;
    padding-top: 8rem;
    padding-right: 4rem;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .main-page-bckground {
    padding-left: 3.5rem;
    padding-top: 6rem;
    padding-right: 5rem;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 40%;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #edddd1;
  }

  .cta-button {
    width: 32%;
  }

  .heading-and-list-container {
    width: 40%;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .main-page-bckground {
    padding-left: 3.5rem;
    padding-top: 8rem;
    padding-right: 7rem;
    margin-top: 6rem;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 30%;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #edddd1;
  }

  .cta-button {
    width: 32%;
  }

  .heading-and-list-container {
    width: 30%;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
  .main-page-bckground {
    padding-left: 4.6rem;
    padding-top: 8rem;
    padding-right: 9rem;
  }
}

/* Iphone SE */
@media (width: 375px) and (height: 667px) {
}

/* Iphone XR */
@media (width: 414px) and (height: 896px) {
}

/* Iphone 12 Pro */
@media (width: 390px) and (height: 844px) {
}

/* Iphone 14 Pro Max */
@media (width: 430px) and (height: 932px) {
}

/* Pixel 7 */
@media (width: 412px) and (height: 915px) {
}

/* Samsung Galaxy S8+ */
@media (width: 360px) and (height: 740px) {
}

/* Samsung Galaxy S20 Ultra */
@media (width: 412px) and (height: 915px) {
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
}

/* iPad Pro */
@media (width: 1024px) and (height: 1366px) {
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
}

/* Surface Duo*/
@media (width: 540px) and (height: 720px) {
}

/* Samsung Galaxy A51/71 */
@media (width: 412px) and (height: 914px) {
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
}

/* Nest Hub Max */
@media (width: 1280px) and (height: 800px) {
}
